# Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Virtual environments
.env
.venv
venv/
env/

# Local data
jobs.sqlite3
*.db
data/
*.sqlite

# OS / editor
.DS_Store
.vscode/

# Logs
*.log

# Terraform
.terraform/
*.tfstate
*.tfstate.*
*.auto.tfvars
